<div class="black_layer"></div>
<div class="content_and_background embedded_video_page">
  <div class="close_button" tabindex="4" title="<%= t('pageflow.public.embedded_video.leave_video') %>">
    <div class="label">
      <%= t('pageflow.public.close') %>
    </div>
  </div>

  <div class="page_background">
    <%= page_background_asset(page) %>
    <%= shadow_div :opacity => configuration['gradient_opacity'] %>
  </div>

  <div class="content">
    <div class="scroller">
      <div>
        <div class="content_wrapper">
          <%= page_default_content(page) %>
        </div>
      </div>
    </div>
    <div class="iframe_container">
      <div class="iframe_wrapper"></div>
      <% if configuration['video_caption'].present? %>
        <div class="video_caption"><%= configuration['video_caption'] %></div>
      <% end %>
    </div>
  </div>
</div>
